#InputBox {
    border: 2px dashed red;
    margin-top: 150px;
    height: 280px;
    @include flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 32px 32px;
    gap: 32px;
    isolation: isolate;
}