@import "./variables";
@import "./mixin";
@import "./../../components/Header/headerPage";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $body-bg;
    // background-color: rgba(88, 86, 86, 0.353);
}